{{#if cities}}
  <div>
    <h3>List of Cities</h3>
    <p>Number of cities: {{cities.length}}</p>

    <ul>
      {{#each cities key="id" as |city|}}
        <li>
          {{#link-to "city.sunrise-sunset" city.name}}
            {{to-capitalize city.name}}
          {{/link-to}}
          {{#if city.sunriseSunset}}
            <small>(&#x263C; {{city.sunriseSunset.sunrise}} - &#x263E; {{city.sunriseSunset.sunset}})</small>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
