<ul class="links">
  <li>
    {{#link-to "array" class="menu-array"}}
      Array
    {{/link-to}}
  </li>
  <li>
    {{#link-to "city" class="menu-city"}}
      City
    {{/link-to}}
  </li>
</ul>

{{outlet}}